h1 {
  color: green;
  font-size: 32px;
  font-family: sans-serif;
}
h2 {
  color: blue;
  font-size: 20px;
  font-family: sans-serif;
}
p {
  color: red;
  font-size: 16px;
  font-family: serif;
}
a{
  background-color: blue;
  transition: background-color .5s;
}
a:hover{
  background-color: gold;
}
