* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
header {
  width: 75vw;
  margin: 25px auto;
}
main {
width: 75vw;
margin: 25px auto;
display: flow-root;
}
.col {
  width : 50%;
  float: left;
  padding: 0 25px;
}
h1 {
  font-size: 4rem;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700px;
}
li {
  font-size: 2rem;
}
body {
  margin: 0;
}
.board1 {
  width: 800px;
  background-color: whitesmoke;
  padding: 50px;
  display: flow-root;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
.black, .gray {
  width: 100px;
  height: 100px;
  float: left;
}
.black {
  background-color: black;
}
.gray {
  background-color: light gray;
}
.board2 {
  width: 1000px;
  height: 280px;
  background-color: whitesmoke;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flow-root;
}
.header1 {
  width: 1000px;
  height: 200px;
  padding:  20px;
  background-color: powderblue;
  float: left;
}
.subhead {
  width: 1000px;
  height: 40px;
  padding: 20px;
  margin-top: 20px;
  background-color: orange;
  float: left;
}
.board3 {
  width: 1000px;
  height: 710px;
  background-color: whitesmoke;
  margin-top: 175px;
  margin-left: auto;
  margin-right: auto;
  display: flow-root;
}
.bodycol {
  width: 280px;
  height: 700px;
  background-color: blue;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  float: left;
}
.board4 {
  width: 1000px;
  height: 210px;
  background-color: whitesmoke;
  margin-top: 630px;
  margin-left: auto;
  margin-right: auto;
  display: flow-root;
}
.footer {
  width: 1000px;
  height: 200px;
  padding: 5px;
  background-color: red;
  float: left;
}
.board5 {
  width: 1000px;
  height: 400px;
  background-color: whitesmoke;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.header2 {
  width: 1000px;
  height: 300px;
  background-color: tomato;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.board6, .board7 {
  width: 1000px;
  height: 800px;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}
.bigblock {
  width: 700px;
  height: 700px;
  background-color: tomato;
  padding: 20px;
  float: left;
}
.sideblock {
  width: 280px;
  height: 350px;
  background-color: blue;
  padding: 20px;
  margin-left: 10px;
  float: left;
}
.subbig {
  width: 700px;
  height: 50px;
  background-color: orange;
  padding: 20px;
  margin-top: 10px;
  float: left;
}
.board8 {
  width: 1000px;
  height: 700px;
  background-color: whitesmoke;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.left {
  width: 100px;
  height: 700px;
  background-color: red;
  margin-right: 10px;
  float: left;
}
.top {
  width: 780px;
  height: 250px;
  background-color: blue;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}
.middle {
  width: 380px;
  height: 450px;
  background-color: yellow;
  margin: 10px 10px 10px 10px;
  float: left;
}
.right {
  width: 100px;
  height: 700px;
  background-color: red;
  margin-left: 10px;
  float: left;
}
.board9 {
  width: 1000px;
  height: 700px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bottom {
  width: 780px;
  height: 250px;
  background-color: blue;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}
