* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
main {
  width: 125vw;
  margin: -100px 12.5vw;
}
.shape1 {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: 50px;
  float: left;
}
.shape2 {
  width: 50px;
  height: 100px;
  background-color: powderblue;
  margin: 50px 150px;
  float: left;
  border: 10px  solid black;
}
.shape3 {
  width: 150px;
  height: 100px;
  background-color: magenta;
  margin: 80px;
  float: left;
  border: 5px solid black;
}
.shape4 {
  width: 100px;
  height: 100px;
  background-color: gold;
  margin: -10px -20px;
  float: left;
  border: 10px solid white;
}
