@media screen and (min-width: 320px){
  body {
    background-color: black;
  }
  p {
    color: white;
    text-align: center;
    font-size: 24px;
    margin-right: 60px;
    margin-left: 60px;
    font-family: Monaco, monospace;
  }
  ul {
    font-family: Monaco monospace;
    font-size: 20px;
    float: left;
    display: inline;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  ul a:hover {
    background-color: #666;
  }
  ol {
    color: white;
    font-size: 24px;
    font-family: Monaco, monospace;
  }
  img {
    align-content: center;
    width: 100%;
    height: auto;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-family: Monaco, monospace;
  }
  h2 {
    color: white;
    font-size: 3rem;
    font-family: Monaco, monospace;
  }
  h3 {
    color: white;
    font-size: 2rem;
    font-family: Monaco, monospace;
  }
  h4 {
    color: white;
    font-size: 1.5rem;
    font-family: Monaco, monospace;
  }
  .contianer{
    width: 1050px;
    height: 1500px;
    align-content: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .image {
    width: 100%;
    height: auto;
    float: left;
    margin: 20px 30px 20px auto;
    align-content: center;
  }
  .image2 {
    width: 100%;
    height: auto;
    float: left;
    margin: 20px 30px 20px auto;
    align-content: center;
  }
  .image3 {
    width: 100%;
    height: auto;
    float: left;
    margin: 20px 30px 20px auto;
    align-content: center;
  }
  .body {
    width: 500px;
    height: 580px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .wheels {
    width: 500px;
    height: 500px;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .utero {
    width: 500px;
    height: 500px;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .flies {
    width: 500px;
    height: 500px;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .goodbye {
    width: 500px;
    height: 500px;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 20px;
  }
}
