@media screen and (min-width: 320px){
  body {
    background-color: black;
  }
  p {
    color: white;
    text-align: center;
    margin: 1.8;
  }
  li {
    color: white;
  }
  img {
    align-content: center;
    width: 20%;
    height: 20%;
  }
}
